<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
<div class="form-image">
  <div class="sign-form-wrap">
    <div class='form-header'>
      <h1 class='form-header-text'>
        新規会員情報入力
      </h1>
    </div>
      <div class="sign-form-group">
        <div class='form-text-wrap'>
          <label>ニックネーム</label>
            <span class="indispensable">必須</span>
              <%= f.text_area :nickname, class:"sign-input-default" %>
        </div>
      </div>

      <div class="sign-form-group">
        <div class='form-text-wrap'>
          <label>メールアドレス</label>
            <span class="indispensable">必須</span>
              <%= f.email_field :email, class:"sign-input-default"  %>
        </div>
      </div>

      <div class="sign-form-group">
        <div class='form-text-wrap'>
          <label>パスワード</label>
            <span class="indispensable">必須</span>
              <%= f.password_field :password, class:"sign-input-default" %>
        </div>
      </div>

      <div class="sign-form-group">
        <div class='form-text-wrap'>
          <label>パスワード(確認)</label>
            <span class="indispensable">必須</span>
              <%= f.password_field :password_confirmation,class:"sign-input-default", placeholder:"同じパスワードを入力してください" %>
        </div>
      </div>
      <div class="form-group">
        <p class="form-info-header">
          本人確認
        </p>
      </div>

      <div class="sign-form-group">
        <div class='form-text-wrap'>
          <label>お名前(全角)</label>
          <span class="indispensable">必須</span>
        </div>
        <div class="yoko">
          <%= f.text_area :family_name, class:"input-name", placeholder:"例) 山田" %>
          <%= f.text_area :first_name, class:"input-name", placeholder:"例) 太郎" %>
        </div>
      </div>

      <div class="sign-form-group">
        <div class='form-text-wrap'>
          <label>お名前カナ(全角)</label>
          <span class="indispensable">必須</span>
        </div>
        <div class="yoko">
          <%= f.text_area :family_name_kana, class:"input-name", placeholder:"例)ヤマダ" %>
          <%= f.text_area :first_name_kana, class:"input-name", placeholder:"例)タロウ" %>
        </div>
      </div>

      <div class="s-form-group">
        <div class='form-text-wrap'>
          <label>生年月日</label>
          <span class="indispensable">必須</span>
        </div>
        <div class='input-birth-wrap'>
          <%= raw sprintf(
                  f.date_select(
                    :birth_day,
                    class:'select-birth',
                    id:"birth-date",
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: 1930,
                    end_year: (Time.now.year - 5),
                    date_separator: '%s'),
                  "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
          </div>
      </div>

      <div class="button-panel"> 
        <%= f.submit "会員登録", class:"button" %>
      </div>
  </div>
</div>
<% end %>
