<!DOCTYPE html>
<html>
  <head>
    <title>Campitem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %> 
    
 <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
   </body> 
</html> 


<%# <!DOCTYPE html>  %>
<%# # <html> %>
  <%# #<head> %>
   <%# <title>App</title> %>
    <%# <%= csrf_meta_tags %>
    <%# <%= csp_meta_tag %> 

    <%# <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
  <%# </head> %>

   <%# <body>  %>
    <%# <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
      <nav class="my-2 my-md-0 mr-md-3">
       <a class="p-2 text-dark" href="#">Features</a>
        <a class="p-2 text-dark" href="#">Enterprise</a>
        #<a class="p-2 text-dark" href="#">Support</a>
        #<a class="p-2 text-dark" href="#">Pricing</a>
        #<% if user_signed_in? %> 
         <%# <a><%= link_to current_user.nickname, "/users#{current_user.id}", class: "user-nickname"</a> %>
          <a><%#= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout" %></a> 
        <%# else %> 
         <a><%#= link_to "ログイン", new_user_session_path, class: "login"%></a>
         <a><%#= link_to "新規登録", new_user_registration_path, class: "sign-up" %></a>
       <%#end %> 
      <%# </nav> %>
      <%# <a class="btn btn-outline-primary" href="#">Sign up</a> %>
    <%# </div>  %>
    <%# <p class="notice"><%= notice %>
    <%# <p class="alert"><%= alert %>
    <%#= yield %>
  <%# </body> %>
<%# </html> %>
